
body {
    align-items: center;
    background-color: #bce;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
}

.link {
    color: #44f;
    text-decoration: none;
}

.nav {
    color: #44f;
    font-size: 32px;
}

.title {
    color: #336;
    font-size: 80px;
    font-weight: bold;
    transform: scaleX(2.5);
}

.firstLetter {
    display: inline-block;
    font-size: 120px;
    font-weight: bold;
}

.rest {
    display: inline-block;
    letter-spacing: -7px;
    transform: translateX(-30px);
}